# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.coverage

# Environment
.env
venv/
env/

# IDE / Editor
.idea/
.vscode/

# Project specific
*.csv
historial_completo.txt
db_fiscal.json
informes/
degiro_app/uploads/
degiro_app/uploads/
degiro/