name: Draft Release

on:
  push:
    branches:
      - main
  workflow_dispatch: # Permite ejecutar el workflow manualmente desde la UI de GitHub

permissions:
  contents: write # Necesario para crear/actualizar el borrador de release

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Draft a new release
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
